.dashboard-section {
  display: flex;
  justify-content: space-between;
}

.dashboard-section-left,
.dashboard-section-right {
  width: calc(50% - 10px); /* Adjust width as needed */
  border: 2px solid #4caf50;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}
/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
  color: #4caf50;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 2px solid #4caf50;
  padding: 8px;
}

table th {
  background-color: #4caf50;
  color: #ffffff;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

h1 {
  margin: 0;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  margin-left: 10px;
}
